<h1>Editing conversion</h1>

<%= render "form", conversion: @conversion %>

<br>

<div>
  <%= link_to "Show this conversion", @conversion %> |
  <%= link_to "Back to conversions", conversions_path %>
</div>
